<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tontine</title>
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}" >
</head>
<body>
    <nav class = "navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
        <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-expanded = "false" aria-label="Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class ="collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class="nav-item activate">
                    <a class = "nav-link text-dark" href="{% url 'home' %}">Home_Page <span class="sr-only">(current)</span></a>
                </li>
                <li class ="nav-item" >
                    <a class = "nav-link text-dark" href = "{% url 'structure' %}">Module Structure</a>
                </li>
                <li class="nav-item activate">
                    <a class = "nav-link text-dark" href="{% url 'finance' %}">Module Finance<span class="sr-only"></span></a>
                </li>
                <li class ="nav-item" >
                    <a class = "nav-link text-dark" href = "{% url 'rapport' %}">Module Rapport et satistique</a>
                </li>
                
            </ul>
            <br><br><br><br><br>

            
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="{% url 'gestion_tontine' %}" class="navbar-brand">Lister toutes les tontines</a>
            <a href="{% url 'create_tontine' %}">Creer une tontine</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <form class="form-inline my-2 my-lg-0" role="search" method="get" action="{% url 'search_tontine' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control mr-sm-2" placeholder="Entrer le nom de la tontine" name="query" value="">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container bg-light">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <br>
            </div>
        </div>
    </div>

    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #205f9b;">
          <!-- Grid container -->
          <div class="container p-4 pb-0"><br><br>
            <!-- Section: CTA -->
          </div>
          <!-- Grid container -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white">Merci de nous avoir fait confiance</a><br><br>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </section>

    <script src = "js/query-3.6.1.min.js"></script>
    <script src = "{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
