{% extends "tontine/base_tontine.html" %}
{% block content %}
    <br>
    <h3> <u>Table Tontine</u></h3>
    <table class="table table-striped">
        <thead class="thead bg-dark text-white">
            <tr>
                <th scope="col-md-2">ID_tontine</th>
                <th scope="col-md-2">Nom_tontine</th>
                <th scope="col-md-2">Date_creation</th>
                <th scope="col-md-2">Slogan</th>
                <th scope="col-md-2">Regle</th>
                <th scope="col-md-2">Modifier</th>
                <th scope="col-md-2">Supprimer</th>
            </tr>
        </thead>
        {% for tontine in tontines %}
            <tr>
                <td>{{tontine.id_tontine}}</td>
                <td>{{tontine.nom}}</td>
                <td>{{tontine.date_creation}}</td>
                <td>{{tontine.slogan}}</td>
                <td>{{tontine.regle}}</td> 
                {% if tontine.author == user.username %}
                    <td><a href="{{ tontine.get_absolute_url }}" class="btn btn-warning">modifier</a></td>
                    <td><a href="{% url 'delete_tontine' tontine.id_tontine %}" class="btn btn-danger">supprimer</a></td>
                {% endif %}
           </tr>
        {% endfor %}
    </table>

{% endblock content %}