{% extends "tontine/base_tontine.html" %}

{% block content %}
    <div class="container bg-light">
        <div class="alert alert-success">{{ message }}</div>
        
        <h2>Mettre a jour une tontine</h2>
        <br>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Save">
            </div> 
        </form>
    </div>
    
{% endblock content %}