<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ici le module structure</title>
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}" >
</head>
<body>
    <nav class = "navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
        <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-expanded = "false" aria-label="Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class ="collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class="nav-item activate">
                    <a class = "nav-link text-dark" href="{% url 'home' %}">Home_Page <span class="sr-only">(current)</span></a>
                </li>
                <li class ="nav-item" >
                    <a class = "nav-link text-dark" href = "{% url 'structure' %}">Module Structure</a>
                </li>
                <li class="nav-item activate">
                    <a class = "nav-link text-dark" href="{% url 'finance' %}">Module Finance<span class="sr-only"></span></a>
                </li>
                <li class ="nav-item" >
                    <a class = "nav-link text-dark" href = "{% url 'rapport' %}">Module Rapport et satistique</a>
                </li>
                
            </ul>
            <br><br><br><br><br>
            
        </div>
    </nav>

    <div>

    </div>


    <div style="background-color: rgba(22, 22, 58, 0.534);">
    <div class="row mx-auto p-5">
        <div class="col-sm-3" >
          <div class="card " style="background-color: rgba(148, 8, 50, 0.979);">
            <div class="card-body ">
              <h5 class="card-title text-white">Tontine</h5>
              <p class="card-text text-white" >Ici vous trouverez les options relatives aux tontins selon votre  poste.</p>
              <a href="{% url 'tontine_s' %}" class="btn btn-primary">Visitez</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-primary mb-3">
            <div class="card-body">
              <h5 class="card-title text-white">Reunion</h5>
              <p class="card-text text-white">Ici vous trouverez les options relatives aux reunions selon votre poste.</p>
              <a href="{% url 'reunion_s' %}" class="btn btn-primary">Visitez</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card " style="background-color: #610aa827;">
              <div class="card-body">
                <h5 class="card-title text-white">Membre</h5>
                <p class="card-text text-white">Ici  vous trouverez les differents options relatives aux membres selon votre statut.</p>
                <a href="{% url 'membre_s' %}" class="btn btn-primary">Visitez</a>
              </div>
            </div>
          </div>
    </div>

    <div class="row mx-auto p-5">
        <div class="col-sm-3">
          <div class="card " style="background-color: #162d42;">
            <div class="card-body">
              <h5 class="card-title  text-white">Candidat</h5>
              <p class="card-text text-white">Ici vous trouverez les differentes options concernant les candidats selon votre statut.</p>
              <a href="{% url 'candidat_s' %}" class="btn btn-primary">Visitez</a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card " style="background-color: #061a2c;">
              <div class="card-body">
                <h5 class="card-title text-white">Election</h5>
                <p class="card-text text-white">Ici vous trouverez les differentes options concernant les elections selon votre staut.</p>
                <a href="{% url 'election_s' %}" class="btn btn-primary">Visitez</a>
              </div>
            </div>
          </div>
    </div>
  </div>


    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #205f9b;">
        <!-- Grid container -->
        <div class="container p-4 pb-0"><br><br>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white">Merci de nous avoir fait confiance</a><br><br>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>

    <script src = "js/query-3.6.1.min.js"></script>
    <script src = "js/bootstrap.js"></script>
</body>
</html>