<!DOCTYPE html>
{% load static %}
<html>
    <head><title>Ici la page de la tontine</title>
        <meta charset="utf8">
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}" >
    </head>
    <body >
        <header>
        <nav class = "navbar navbar-expand-lg navbar-light" style="background-color: #dfe7ec">
            <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-expanded = "false" aria-label="Toggle navigation">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class ="collapse navbar-collapse" id = "navbarSupportedContent">
                <ul class = "navbar-nav mr-auto">
                    <li class="nav-item activate">
                        <a class = "nav-link text-dark" href= "{% url 'home' %}">Home_Page <span class="sr-only">(current)</span></a>
                    </li>
                    <li class ="nav-item" >
                        <a class = "nav-link text-dark" href = "{% url 'structure' %}">Module Structure</a>
                    </li>
                    <li class="nav-item activate">
                        <a class = "nav-link text-dark" href="{% url 'finance' %}">Module Finance<span class="sr-only"></span></a>
                    </li>
                    <li class ="nav-item" >
                        <a class = "nav-link text-dark" href = "{% url 'rapport' %}">Module Rapport et satistique</a>
                    </li>
                    
                </ul>
                <br>
                <br><br><br><br>
                
            </div>
        </nav>
        <center>         <div>
    <img class="mb-4" src="{% static 'image/logo.JPG' %}" alt="image" width="200" height="150">

    </div>
           </center>

          
            <br>
            <h2 class = "display-5" align = "center" >Bienvenue sur notre application web de gestion de tontines...Tout est pret vous servir!!!</h2> 
        </header>
        <section class="">
            <!-- Footer -->
            <footer class="text-center text-white" style="background-color: #205f9b;">
              <!-- Grid container -->
              <div class="container p-4 pb-0"><br><br>
                <!-- Section: CTA -->
              </div>
              <!-- Grid container -->
          
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white">Merci de nous avoir fait confiance</a><br><br>
              </div>
              <!-- Copyright -->
            </footer>
            <!-- Footer -->
          </section>

    <script src = "{% static 'js/query-3.6.1.min.js' % }"></script>
    <script src = "{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>